header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #7C5E99;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
}

a::before {
    content: "";
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background-color: #F25A70;
}

#button {
    display: inline-flex;
    margin-right: 0;
    padding: 18px 20px;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px #000;
}