.main-carousel {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 80px;
    padding-right: 80px;
}

.main-carousel::after {
    content: '';
    display: block;
    width: calc(100% - 100px);
    height: 6px;
    background-color: #000;
    position: absolute;
    top: 38px;
    left: 50px;
}

.main-carousel::before {
    content: '';
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px dashed #000;
    position: absolute;
    top: 38px;
    left: 0;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}

.main-carousel .button-arrow.-left {
    left: 15px;
}

.main-carousel .button-arrow.-right {
    right: 15px;
}

.main-carousel .items {
    width: 100%;
    overflow: hidden;
}

.main-carousel .elements {
    display: flex;
    justify-content: space-between;
    transition: transform 100ms ease-in-out;
}