.main-box {
    display: inline-block;
    padding: 42px 44px;
    text-align: center;
    background-color: #3A4042;
    box-shadow: 10px 10px 0px #000;
}

.main-box .main-title {
    margin-bottom: 28px;
}