.main-button {
    display: inline-block;
    margin-right: 0;
    padding: 18px 20px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px #000;
    transition: transform 100ms cubic-bezier(.45,.97,.68,2.48);
}

.main-button:hover {
    transform: scale(1.08);
}