.main-input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 30px;
    border: 5px solid #000;
}

.main-input.-textarea {
    height: 320px;
}