.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
}

.node-card::before {
    content: '';
    height: 40px;
    border: 3px dashed #000;
    position: absolute;
    bottom: 146px;
}

.node-card .title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #F25A70;
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 140px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CEB02A;
    border: 5px solid #000;
}

.node-card.-clean .logo {
    padding: 0;
}

.node-card.-first .logo {
    background-color: #F25A70;
}