.progress-bar {
    box-sizing: border-box;
    height: 40px;
    background-color: #FFF;
    border: 5px solid #000;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    background-color: #7C5E99;
}