.wrapper-skill {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skill-tec {
    width: 430px;
}


.wrapper-skill .progress-bar {
    width: 320px;
}